name: commitlint
on:
  push:
    branches:
      - master
      - develop
  pull_request:
    branches:
      - master
      - develop
jobs:
  commitlint:
    runs-on: ubuntu-latest
    steps:
      - uses: wagoid/commitlint-github-action@v1
        name: commitlint
        with:
          configFile: ./.commitlintrc.js