name: Secretlint
on:
  push:
    branches:
      - master
      - develop
  pull_request:
    branches:
      - master
      - develop
env:
  CI: true
jobs:
  test:
    name: "Secretlint"
    runs-on: ubuntu-18.04
    steps:
      - name: checkout
        uses: actions/checkout@v2
      - name: lint with secretlint on docker
        run: docker run -v `pwd`:`pwd` -w `pwd` --rm secretlint/secretlint secretlint  --secretlintrc .secretlintrc.json "**/*"